PortingNotes/**/*.md
PortingNotes/**/*.txt
PortingNotes/**/*.json
PortingNotes/**/*.hjson
StorePage/inputs/**/*.png
StorePage/logos/**/*.png
StorePage/outputs/**/*.png
StorePage/tests/
**/bin/
**/obj/
**/.vs/